.hero-conteiner {
    height: 1070px;
    background-image: linear-gradient(to bottom,
            black,
            transparent), url('/images/mangaPanels.jpg');
    background-size: cover;
}

.image-conteiner img {
    margin: 50px;
    position: absolute;
    text-align: center;
    left: 200px;
    bottom: 120px;
    max-width: 330px;
    max-height: 330px;
}

.hero-text {
    margin: 50px;
    position: absolute;
    right: 50px;
    bottom: 100px;
    text-align: center;
    color: white;
}

.hero-text h1 {
    margin: 30px;
    font-size: 100px;
    -webkit-text-stroke: 3px black;
    text-shadow: 5px 5px 5px black;
}

.hero-text p {
    font-size: 40px;
    -webkit-text-stroke: 1.3px black;
    text-shadow: 5px 5px 5px black;
}