.card {
   width: 17%;
   /* height: 70vh; */
   border-radius: 10px;
}

.card:hover {
   box-shadow: 0 4px 8px 0 rgba(63, 56, 82, 0.244), 0 6px 20px 0 rgba(70, 53, 81, 0.211);
   cursor: pointer;
}

.card .image-container {
   margin: auto;
   padding: 10px;
   height: 70%;
   width: 90%;
}

.card img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
   transform: scale(1);
}

.card:hover img {
   transform: scale(1.1);
}

.card .name {
   color: white;
   text-align: center;
   font-size: 3vh;
   font-weight: bold;
   margin-top: 4%;
   margin-bottom: 0;
   overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card .author {
   color: rgb(95, 94, 94);
   text-align: center;
   font-size: 2vh;
   margin-top: 0;
}

.card .price {
   color: white;
   text-align: center;
   font-size: 3vh;
   margin: 2%;
}