.nav-bar,
.nav-bar button {
    background-color: black;
    overflow: hidden;
    padding: 16px 13px;
}

.nav-bar a,
.nav-bar button {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    border: none;
}

.nav-bar a:hover,
.nav-bar button:hover,
.nav-bar input:hover {
    color: #b974ff;
    cursor: pointer;
}

.nav-bar a.active,
.nav-bar button.active,
.nav-bar input.active {
    background-color: #b369fe;
    color: black;
}

.nav-bar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 15px;
    border: none;
    background-color: black;
    border-radius: 20px;
}

.nav-bar button[type=submit] {
    padding-left: 60px;
    padding-right: 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.site-logo {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}

.site-logo a img {
    max-width: 48px;
    max-height: 48px;
}

@media screen and (max-width: 600px) {
    .nav-bar a:not(:first-child) {
        display: none;
    }

    .nav-bar a.icon {
        float: right;
        display: block;
    }
}