.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 700;
}

.sidenav-backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100%;
}

.sidenav {
    height: 100vh;
    width: 50vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.8)), url('/images/vinlandSaga.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.sidenav button {
    padding: 6% 0;
    width: 100%;
    transition: 0.5s;
    font-size: 4vh;
    color: white;
    background: transparent;
    display: block;
    border-color: rgba(0, 0, 0, 0.1);
}

.sidenav button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav button {
        font-size: 18px;
    }
}